nav {
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  position: fixed;
  top: 0;
}

.logo {
  font-family: 'Bungee', cursive;
  margin-left: 1.5em;

}

.writeNewTweet {
  position: absolute;
  float: right;
  right: 1.5em;
}

.newTweetArrow {
  position: absolute;
  top: 55px;
  left: 80px;
  color: red;
}

.newTweetArrow:hover {
  box-shadow: 0px 1px 8px 3px #FF0000;
}
